<!DOCTYPE html>
<html>
<head>
  <title>Google authenticate demo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript">
    $(function(){
        setInterval(function(){ $("#otp_code").load("{% url 'get_otpcode' %}"); }, 1000);
    });
  </script>

</head>

<body>
  <h1>Google authenticate demo</h1>
  <!-- Secret:{{ request.session.secret }} -->
  <div>
    <p>1. 下記のQRコードを読取り、Google認証システムへ登録してください<br />
       Open the Google Authenticator app and scan the barcode below:</p>
    <img src="data:image/png;base64,{{ request.session.img }}" alt="qrcode" width="200"/>
  </div>

  <div>
    <p>2. Google認証システムに下記のコードが表示されているはずです<br />
       Once you have scanned the barcode, you can see the following 6 digits otp-code.</p>
  </div>
  <div id="otp_code" style="padding: 0 0.5em;font-size: 3em;"></div>
</body>
</html>
